node_modules
image/uploads/
*.jpg
*.png
tcc-05-09-15.zip
.htaccess
_machine_config.php
_machine_config.php
node_modules
_machine_config.php
*.psd
configuracao_servidor.php
*.log
arquivo-em-pdf-22.pdf.zip
arquivo-em-pdf.pdf
b.zip
bootstrap - Atalho.lnk
arquivo-em-pdf-22.pdf
vendor/dompdf/lib/fonts/log.htm
vendor/dompdf/lib/fonts/log.htm
arquivo-em-pdf-22.pdf
vendor/dompdf/lib/fonts/log.htm
certificados-gerados/a-hora-da-alegria-223/ata.pdf
certificados-gerados/novo-evento-226/ata.pdf
certificados-gerados/workshop-tecnicas-avancadas-de-pog-128/ata.pdf
certificados-gerados/palestra-nao-mexa-no-banco-de-dados-ele-mexe-de-volta-225/ata.pdf
arquivo-em-pdf-22.pdf
rafael.pdf
vendor/dompdf/lib/fonts/log.htm