				
					<!--Certificado enviado para PDF-->
					<div class="containerPDF justifycenter">
						<div class="center-block">
							<img id="ImagemLogo" src="http://localhost:85/tcc/images/uploads/logos/small/5b5bc6ad33beebb171f8a6e8a4149502.png">
						</div>
						
						<div id="TituloCertificado" class="center-block reset-css">Certificado</div>
						
						<div class="center-block">
							<img id="TituloMarcador" src="http://localhost:85/tcc/styles/certificados/images/marcador-titulo-padrao.png">
						</div>
						
						<div id="containerDinamico">Certificamos que <span class="dbItemCertificado tagit-choice dbitem nomeParticipante">Nome do Participante</span> participou da <span class="dbItemCertificado tagit-choice dbitem nomeAtividade">Nome da Atividade</span>, realizada no <span class="dbItemCertificado tagit-choice dbitem localAtividade">Local da Atividade</span>, em <span class="dbItemCertificado tagit-choice dbitem dataAtividade">Data da Atividade</span>, com duração de <span class="dbItemCertificado tagit-choice dbitem duracaoEvento">Duração do Evento</span> e carga horária de <span class="dbItemCertificado tagit-choice dbitem cargaHoraria">Carga Horária</span></div>
					</div>
					<!--Certificado enviado para PDF-->
					
					<table class="assinaturas justifycenter">
						<tbody><tr>
							<td><img id="AssinaturaPalestrante" class="assinatura" src="http://localhost:85/tcc/images/uploads/logos/small/32dc6fa8ca13a53ebcad2053e87165fb.png"></td>
							<td class="hide-palestrante"></td>
						</tr>
						<tr>
							<td><hr></td>
							<td class="hide-palestrante"><hr></td>
						</tr>
						<tr>
							<td><small><strong>Nome do Palestrantre</strong><br>Cargo do Palestrante</small></td>
							<td class="hide-palestrante"><small><strong>Nome do Participante</strong></small></td>
						</tr>
					</tbody></table>
					
					<div class="rodapeCertificado registro bottom-left justifyleft fixed-pdf">
							Registro nº 9081/15 folha 86 do livro nº 2
					</div>
					
					<div class="rodapeCertificado justifycenter autenticidade bottom-right fixed-pdf">
						confirme a autenticidade deste certificado em
						<span class="siteCertificado">http://localhost:85/tcc/validar-certificado/</span>
					</div>
					
					

				