/*!
 * application style overrides and customizations
 */

/* note that this gets overridden by bootstrap-responsive.min.css when screen size changes */
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
	padding-top: 90px;
	padding-bottom: 20px;
	background-color:#f1f1f1;
	font-family: 'Lato', Arial,Helvetica,sans-serif;
}

body .hero-unit:first-child, body .formlogin:first-child  { margin-top:20px; }

.modal { 
	width:60%; 
	margin-left:-30%;  
	overflow-y:auto;
    max-height:90%;
}
.modal .control-group:last-child { margin-bottom:0; }
.modal .modal-body { max-height:none; }
.modal .modal-header .close {
    width: 30px;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
	opacity:1;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

h1,h2,h3,h4,h5,h6{
	color:#41416C;
	text-rendering: optimizelegibility;
}

h1, .hero-unit h1 {
	margin-bottom: 15px;
}

.hero-unit h1:first-child { margin-top:0; }

hr {
	margin: 10px 0px 10px 0px;
}

span.buttonContainer {
	margin-bottom:20px;
}

.footer hr {
	border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}

.footer .muted { margin-bottom:0; }

.navbar a {
	transition: all 70ms ease-in-out;
	-webkit-transition: all 70ms ease-in-out;
	-moz-transition: all 70ms ease-in-out;
}

.navbar .brand { margin-top:0px; margin-bottom:0px; text-shadow:none; }
.navbar .brand img {
	max-height:50px;
	height:50px;
	margin-top:-10px; 
	margin-bottom:-10px;	
}
.navbar .brand:hover {
	opacity: 1;	
}

table.collection { background:#FFF; margin-bottom:0; }
table.collection thead {
	background: darkorange;
    color: white;
}
table.collection th { 	font-weight:600; }
table.collection tr:hover {
    cursor: pointer;
}

table.collection th:hover {
    cursor: pointer;
	text-decoration:underline;
	transition: opacity 250ms ease-in-out;
}

table.collection.no-hover thead th:hover {
    cursor: default;
	text-decoration:none;
}

.img-center { margin-left:auto; margin-right:auto; display:block; box-sizing: border-box; }

.table-bordered, .table-bordered th, .table-bordered td {
	border-color:#eee;
	border-color: rgba(0,0,0,0.2);
	border-top:none;
}
.table-bordered th {
	box-shadow: -1px 1px rgba(255,255,255,0.3);
}
.table-bordered th:first-child { box-shadow:none; }
.alert {
	clear:both;
}

/* IE8 hack para exibir senha ao digitar */
input[type="password"] {
	font-family : Arial, Helvetica, Sans-Serif\9; /* IE8 and below */
}

.date-picker input
{
	width: 80px;
}

.date-picker i
{
	color: #999;
	margin-top: 2px;
	margin-left: -1px;
}

.bootstrap-timepicker-component input
{
	width: 70px;
}

.bootstrap-timepicker-component i
{
	color: #999;
	margin-top: 3px;
	margin-left: 0px;
}

input[type=password]

.searchContainer input, .searchContainer button
{
	margin-top: 0;
    padding: 8px;
}
.searchContainer {
	margin-bottom:20px;
}


.formlogin {
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}
.formlogin input { 
	width: 100%;
    box-sizing: border-box;
    padding: 15px 10px;
}
.formlogin h2 { margin-top:0; }
.control-group:last-child { margin-bottom:0; }

h1, h2, h3 {
	transition:all 100ms ease-in-out; 
	-webkit-transition:all 100ms ease-in-out;
	-moz-transition:all 100ms ease-in-out;
}
@media screen and (max-width:768px){
	.hero-unit { padding:20px; }
}
@media screen and (max-width:468px) {
	h1 { font-size:2em; margin-top:0; }
	.searchContainer.pull-right  { float:none; clear:both; display:block; }
}
input#filter { padding:8px; }

.input-append button.add-on {
    height: inherit !important;
    color: #FFF;
    padding: 8px 20px;
    margin-top:0;
	background-color: #6252c9;
    border-color: #6252c9;
}

span.loader {
	margin: 0px;
	display: inline-block;
	width: 150px;
}

span.loader .bar {
	display: inline-block;
	width: 100%;
	height: 30px;
}

/* form controls */
span.help-inline {
	font-size: .9em;
	font-style: italic;
	padding-top: 5px;
	color: #999;
}

/* fixes spacing glitch with combo-box followed by an empty inline help */
span.help-inline:empty {
	display: none;
}