/*!
 * application style overrides and customizations
 */

/* note that this gets overridden by bootstrap-responsive.min.css when screen size changes 

@import url(http://fonts.googleapis.com/css?family=Lato);
*/


body {
	padding-top: 90px;
	padding-bottom: 20px;
	background-color:#f1f1f1;
}

body,
input, button, select, textarea,
.navbar-search .search-query {
	font-family: "Lato",Arial,Helvetica, sans-serif;
	text-rendering: optimizeSpeed;
}

a, .a { color:lightslateblue; text-decoration:none!important; cursor:pointer; }
a:active .a:active, a:visited, .a:visited { color:slateblue; text-decoration:none; }
a:hover, .a:hover { color:crimson; text-decoration:none; }

/* darkviolet  deeppink*/

.modificou-item {
	background:greenyellow!important;
}

a.btn.btn-default { color:#333; }
a.btn.btn-danger { color:white; }
.btn { text-decoration:none; }

img.thumbnail.small {
	max-width:250px;
	max-height:250px;
}

.grayscale-contrast-filter {
	-webkit-filter: grayscale(100%) brightness(150%);
	   -moz-filter: grayscale(100%) brightness(150%);
		-ms-filter: grayscale(100%) brightness(150%);
		 -o-filter: grayscale(100%) brightness(150%);
	filter: grayscale(100%) brightness(150%);
}

.thumb-imagem-alterar {
	margin-top:5px;
}

.container.hero-unit { padding-bottom:10px; }

.hero-unit.small { padding:10px; }

.nav-breadcrumb { margin-top:-10px; }

h1.titulo { margin-top:0; float:left; }

.show-on-single { display:none; }

.overlay-big-message {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    /* padding: 40px; */
    bottom: 0;
    margin: auto;
    line-height: 100px;
    color: white;
    font-size: 35px;
    opacity: 0.7;
	z-index:3000;
}

.modal { 
	width:90%; 
	margin-left:-45%; 
	border:none;
	/* overflow-y:auto;
    max-height:90%; */
}

.modal.fade.in.modal-on-top {
	top:5%;
	margin-top:0!important;
}

/* Altera animação de abertura do modal */
.modal.fade {
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp;
}

.modal-backdrop, .modal-backdrop.fade.in {
	background-color:#7a6ec7!important;
}

.modal-backdrop.red, .modal-backdrop.fade.in.red {
	background-color:red!important;
}

@media screen and (min-width:1200px){
	.modal { 
		width:70%; 
		margin-left:-35%;
	}	
}

.modal.fade.in { top:5%;}
.modal .control-group:last-child { margin-bottom:0; }
.modal .modal-body { max-height:none; padding-bottom:0; }
.modal .modal-header .close {
    width: 30px;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
	opacity:1;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.modal-footer .btn:last-child { margin-left:12px; }
.popover .btn:last-child { margin-left:10px; }

/**INPUT LADO A LADO EM FORM**/
.margin-right-bigger-sm { margin-right:15px; }
@media screen and (max-width:767px){
	img.thumbnail.small { zoom:0.8; }
	.margin-right-bigger-sm { margin-right:0; }
	.block-sm { display:block; margin:0 0 15px 0; width:100%; box-sizing:border-box;}
	.modal-footer .btn.block-sm { margin-left:0; } 
	.block-sm:last-child {margin-bottom:0; margin-left:0; }
}

nav.passos-evento {
    margin-bottom: 20px;
}

/* fix da posição do menu no bootstrap */
.modal .modal-body .dropdown-menu.dropdown-fixed {
    position:fixed;
	top:auto!important;
	left:auto!important;
	margin-top:31px;
}

/*para combobox do bootstrap aceitar coisas do lado*/
.combobox-container {
	display: inline-table;
    vertical-align: middle;
	margin-right:5px;
}


h1,h2,h3,h4,h5,h6{
	color:#41416C;
	text-rendering: optimizelegibility;
}

h1, .hero-unit h1 {
	margin-bottom: 15px;
}

h1, h3 {
	font-weight:normal;
}

.hero-unit h1:first-child { margin-top:0; }

hr {
	margin: 10px 0px 10px 0px;
}

span.buttonContainer {
	margin-bottom:20px;
}

.footer hr {
	border-top: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}

.footer .muted { margin-bottom:0; }

.navbar a, .navbar a.btn-navbar {
	transition: all 70ms ease-in-out;
	-webkit-transition: all 70ms ease-in-out;
	-moz-transition: all 70ms ease-in-out;
}

[class^=icon-], table.collection tr th [class^="icon"] { margin-right:5px; text-decoration:none!important; }
[class^=icon-].icon-margin-left { margin-right:0; margin-left:5px; }


.navbar-inverse .nav .caret { margin-left:5px; }
.sem-margin-right, .add-on [class^=icon-]  { margin-right:0; }

.navbar .brand { text-decoration:none; background:url(../images/logo.png) no-repeat 0 center;
background-size:fit; margin-top:0px; margin-bottom:0px; text-shadow:none; }

@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
	.navbar .brand { background-image:url(../images/logo-2x.png); background-size:contain; }
}
.navbar .brand img {
	max-height:50px;
	height:50px;
	margin-top:-10px; 
	margin-bottom:-10px;	
}
.navbar .brand:hover {
	opacity: 1;	
}

/* HANDSONTABLE */
#table-participantes {
	overflow:scroll;
}
#table-participantes table td:nth-child(2),
#table-participantes table th:nth-child(2)
{
	width:10px!important;
}
#table-participantes .currentRow {
    background: #e0dbfc;
}

#table-participantes td[data-error], td.htInvalid {
    background: #ff4c42!important;
    color:white!important;
}

#table-participantes td[data-error]:after, td.htInvalid:before {
    /* position: absolute; */
    float:right;
    white-space: nowrap;
    color:darkred;
    text-align: right;
    font-weight: 700;
	font-size:10px;
    content: 'Erro';
}

.htComments { z-index:6000!important; }

.error-handsontable-item {
	margin:0 -10px;
    padding: 5px 20px;
    background: darkred;
    color: lightyellow;
}

.float-bottom-notification {
	position: absolute;
    left: -20%;
    z-index: 6000;
    bottom: 35%;
    right: auto;
    margin: auto auto auto 50%;
    height: auto;
}
#savingFloat { display:none; bottom:10%; left:-10%; }

#save_car:before {	
    color: #777;
    content: attr(data-autosave);
    position: absolute;
    font-size: 12px;
    right: 140px;
}
#save_car.affix:before {
	right: 100px;
    background: white;
    padding: 5px;
}
#save_car.affix {
    position: absolute;
	z-index:6000;
    right: 5%;
    width: 120px;
    border: 10px white solid;
}

table.collection { background:#FFF; }
table.collection thead {
	background: darkorange;
    color: white;
}
table.collection th { 	font-weight:normal; }
table.collection tr:hover {
    cursor: pointer;
}
table.collection tbody tr {
    border-top: 1px solid #ddd;
}
table.collection tbody tr:first-child {
    border-top: none;
}
table.collection tbody td  {
    border: none;
}
table.collection th:hover {
    cursor: pointer;
	text-decoration:underline;
	transition: opacity 250ms ease-in-out;
}
table.collection tr th [class^="icon"] {
    font-size: 14px;
	vertical-align:top;
}

table.collection.no-hover thead th:hover {
    cursor: default;
	text-decoration:none;
}

.img-center { 
	margin-left:auto; 
	margin-right:auto; 
	display:block; 
	box-sizing: border-box;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}

.table-bordered, .table-bordered th, .table-bordered td {
	border-color:#eee;
	border-color: rgba(0,0,0,0.2);
	border-top:none;
}
.table-bordered th {
	box-shadow: -1px 1px rgba(255,255,255,0.3);
}
.table-bordered th:first-child { box-shadow:none; }
.alert {
	clear:both;
	font-size:14px;
}
.alert.alert-dark {
    background: #333;
	background: rgba(0,0,0,0.8);
    border: none;
    color: #ccc;
}
.alert.alert-dark.small {
    margin-bottom: 10px;
    padding: 5px;
}
.alert.alert-dark.small.margin-bottom-normal { margin-bottom:20px; }
.alert.alert-dark .close {
	top: -2px;
    right: 0px;
    line-height: 20px;
    padding: 2px 5px;
}
.goto {margin-left:10px;}

/* IE8 hack para exibir senha ao digitar */
input[type="password"] {
	font-family : Arial, Helvetica, Sans-Serif\9; /* IE8 and below */
}

.date-picker input
{
	width: 80px;
}

.date-picker i
{
	color: #999;
	margin-top: 2px;
	margin-left: -1px;
}

.bootstrap-timepicker-component input
{
	width: 70px;
}

.bootstrap-timepicker-component i
{
	color: #999;
	margin-top: 3px;
	margin-left: 0px;
}

input[type=password]

.searchContainer input, .searchContainer button
{
	margin-top: 0;
    padding: 8px;
}
.searchContainer {
	margin-bottom:20px;
}


.frm-login {
	max-width:500px;
	margin-left:auto;
	margin-right:auto;
}
.formlogin input { 
	width: 100%;
    box-sizing: border-box;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    padding: 15px 10px;
}
.formlogin h2 { margin-top:0; }
.control-group:last-child { margin-bottom:0; }

h1, h2, h3 {
	transition:all 100ms ease-in-out; 
	-webkit-transition:all 100ms ease-in-out;
	-moz-transition:all 100ms ease-in-out;
}
@media screen and (max-width:980px){
	.hero-unit.small { margin-bottom:20px; }
}
@media screen and (max-width:768px){
	.navbar .brand { font-size:1.2em; }
	.nav-breadcrumb { margin-top:0px; }
	.hero-unit { padding:20px; }
	table.collection tbody tr:first-child { border-top:1px solid #ddd; }
}
@media screen and (max-width:468px) {
	.vertical-align-super { vertical-align:super; }
	span.loader { height:10px; margin:0!important; }
	.hero-unit.small, h1 { font-size:0.9em; padding:5px; }
	h3 { font-size:1.2em; }
	.navbar .brand, .hero-unit { font-size:1em; }
	.sem-margin-right-xxs { margin-right:0; }
	.navbar .brand {
		display: block;
		box-sizing: border-box;
		float: none;
		background-position: center;
		max-width: 100px;
		height: 40px;
		margin: 5px auto!important;
		background-size: contain;
	}
	.navbar .brand span { visibility:hidden; }	
	h1 { font-size:1.8em; margin-top:0; }
	.searchContainer.pull-right  { float:none; clear:both; display:block; }
}
input#filter { padding:8px; }

.input-append button.add-on {
    height: inherit !important;
    color: #FFF;
    padding: 8px 20px;
    margin-top:0;
	background-color: #6252c9;
    border-color: #6252c9;
}

span.loader {
	margin: 0 0 0 10px;
	display: inline-block;
	width: 150px;
}

span.loader .bar {
	display: inline-block;
	width: 100%;
	height: 30px;
}

/* form controls */
span.help-inline {
	font-size: .8em;
	font-style: italic;
	padding-top: 5px;
	color: #999;
}

/* fixes spacing glitch with combo-box followed by an empty inline help */
span.help-inline:empty {
	display: none;
}


/* -------------------------------- 

BREADCRUMBS

Basic Style

-------------------------------- */
.cd-breadcrumb, .cd-multi-steps {
  width: 100%;
  /*max-width: 768px;*/
  padding: 0em 0em;
  margin: 0em auto;
  /* background-color: #edeff0; */
  border-radius: .25em;
}
@media screen and (max-width:768px) {
	.cd-breadcrumb, .cd-multi-steps {
		width: 100%;
    }
}
.cd-breadcrumb::after, .cd-multi-steps::after {
  clear: both;
  content: "";
  display: table;
}
.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  float: left;
  margin: 0;
}
@media screen and (max-width:468px){
	.cd-breadcrumb li, .cd-multi-steps li { margin:0 0; }
}
.cd-breadcrumb li::after, .cd-multi-steps li::after {
  /* this is the separator between items */
  content:"\f105";
  font-family:"FontAwesome";
  line-height:1;
  font-size:0.7em;
  margin:5px;
}
.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}
.cd-breadcrumb li > *, .cd-multi-steps li > * {/* single step */
  display: inline-block;
  line-height:normal;
  /* font-size: 1.4rem; */
  /* color: #2c3f4c; */
}
.cd-breadcrumb li.current > *, .cd-multi-steps li.current > * {/* selected step *//* color: #96c03d
 */
}
.no-touch .cd-breadcrumb a:hover, .no-touch .cd-multi-steps a:hover {
  /* steps already visited */
  color: #96c03d;
}
.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
  /* replace the default separator with a custom icon */
  content: '';
  height: 16px;
  width: 16px;
  background: url(../img/cd-custom-separator.svg) no-repeat center center;
  vertical-align: middle;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}
.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}
.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}
.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cd-multi-steps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    font-size: 1rem;
  }
}

/* -------------------------------- 

Triangle breadcrumb

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-breadcrumb.triangle {
    /* reset basic style */
    background-color: transparent;
    padding: 0;
  }
  .cd-breadcrumb.triangle li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
  }
  .cd-breadcrumb.triangle li:last-of-type {
    margin-right: 0;
  }
  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 1em .8em 1em 2.5em;
    color: #2c3f4c;
    background-color: #edeff0;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #edeff0;
  }
  .cd-breadcrumb.triangle li.current > * {
    /* selected step */
    color: #ffffff;
    background-color: #96c03d;
    border-color: #96c03d;
  }
  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
    border-radius: .25em 0 0 .25em;
  }
  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 0 .25em .25em 0;
  }
  .no-touch .cd-breadcrumb.triangle a:hover {
    /* steps already visited */
    color: #ffffff;
    background-color: #2c3f4c;
    border-color: #2c3f4c;
  }
  .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    /* 
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    content: '';
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 24px solid transparent;
    border-right-width: 0;
    border-left-width: 20px;
  }
  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #ffffff;
    /* reset style */
    margin: 0;
  }
  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }
  .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }
  .cd-breadcrumb.triangle.custom-separator li::after {
    /* reset style */
    background-image: none;
  }
  .cd-breadcrumb.triangle.custom-icons li::after, .cd-breadcrumb.triangle.custom-icons li > *::after {
    /* 50px is the height of the <a> element */
    border-top-width: 25px;
    border-bottom-width: 25px;
  }

  @-moz-document url-prefix() {
    .cd-breadcrumb.triangle li::after,
    .cd-breadcrumb.triangle li > *::after {
      /* fix a bug on Firefix - tooth edge on css triangle */
      border-left-style: dashed;
    }
  }
}
/* -------------------------------- 

Custom icons hover effects - breadcrumb and multi-steps

-------------------------------- */
@media only screen and (min-width: 768px) {
  .no-touch .cd-breadcrumb.triangle.custom-icons li:first-of-type a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:first-of-type em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:first-of-type a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:first-of-type em::before {
    /* change custom icon using image sprites - hover effect or current item */
    background-position: 0 -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(2) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(2) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(2) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(2) em::before {
    background-position: -20px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(3) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(3) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(3) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(3) em::before {
    background-position: -40px -40px;
  }
  .no-touch .cd-breadcrumb.triangle.custom-icons li:nth-of-type(4) a:hover::before, .cd-breadcrumb.triangle.custom-icons li.current:nth-of-type(4) em::before, .no-touch .cd-multi-steps.text-center.custom-icons li:nth-of-type(4) a:hover::before, .cd-multi-steps.text-center.custom-icons li.current:nth-of-type(4) em::before {
    background-position: -60px -40px;
  }
}
/* -------------------------------- 

Multi steps indicator 

-------------------------------- */
@media only screen and (min-width: 768px) {
  .cd-multi-steps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .cd-multi-steps li {
    position: relative;
    float: none;
    margin: 0em 40px 0em 0;
  }
  .cd-multi-steps li:last-of-type {
    margin-right: 0;
  }
  .cd-multi-steps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    /* reset style */
    margin: 0;
  }
  .cd-multi-steps li.visited::after {
    background-color: #96c03d;
  }
  .cd-multi-steps li > *, .cd-multi-steps li.current > * {
    position: relative;
    /* color: #2c3f4c; */
  }

  .cd-multi-steps.custom-separator li::after {
    /* reset style */
    height: 4px;
    background: #edeff0;
  }

  .cd-multi-steps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-1px);
    -moz-transform: translateY(-50%) translateX(-1px);
    -ms-transform: translateY(-50%) translateX(-1px);
    -o-transform: translateY(-50%) translateX(-1px);
    transform: translateY(-50%) translateX(-1px);
  }
  .cd-multi-steps.text-center li > * {
    z-index: 1;
    /* padding: .3em 1em; */
    /* border-radius: 5px; */
    /* background-color: #edeff0; */
  }
  .no-touch .cd-multi-steps.text-center a:hover {
    background-color: #2c3f4c;
  }
  .cd-multi-steps.text-center li.current > *, .cd-multi-steps.text-center li.visited > * {
    /* color: #ffffff; */
    /* background-color: #96c03d; */
  }
  .cd-multi-steps.text-center.custom-icons li.visited a::before {
    /* change the custom icon for the visited item - check icon */
    background-position: 0 -60px;
  }

  .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
    width: 160px;
    text-align: center;
  }
  .cd-multi-steps.text-top li::after, .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    left: 50%;
    /* 40px is the <li> right margin value */
    width: calc(100% + 45px);
  }
  .cd-multi-steps.text-top li > *::before, .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #edeff0;
  }
  .cd-multi-steps.text-top li.visited > *::before,
  .cd-multi-steps.text-top li.current > *::before, .cd-multi-steps.text-bottom li.visited > *::before,
  .cd-multi-steps.text-bottom li.current > *::before {
    background-color: #96c03d;
  }
  .no-touch .cd-multi-steps.text-top a:hover, .no-touch .cd-multi-steps.text-bottom a:hover {
    color: #96c03d;
  }
  .no-touch .cd-multi-steps.text-top a:hover::before, .no-touch .cd-multi-steps.text-bottom a:hover::before {
    box-shadow: 0 0 0 3px rgba(150, 192, 61, 0.3);
  }

  .cd-multi-steps.text-top li::after {
    /* this is the line connecting 2 adjacent items */
    bottom: 4px;
  }
  .cd-multi-steps.text-top li > * {
    padding-bottom: 20px;
  }
  .cd-multi-steps.text-top li > *::before {
    /* this is the spot indicator */
    bottom: 0;
  }

  .cd-multi-steps.text-bottom li::after {
    /* this is the line connecting 2 adjacent items */
    top: 3px;
  }
  .cd-multi-steps.text-bottom li > * {
    padding-top: 20px;
  }
  .cd-multi-steps.text-bottom li > *::before {
    /* this is the spot indicator */
    top: 0;
  }
}
/* -------------------------------- 

Add a counter to the multi-steps indicator 

-------------------------------- */
.cd-multi-steps.count li {
  counter-increment: steps;
}

.cd-multi-steps.count li > *::before {
  content: counter(steps) " - ";
}

@media only screen and (min-width: 768px) {
  .cd-multi-steps.text-top.count li > *::before,
  .cd-multi-steps.text-bottom.count li > *::before {
    /* this is the spot indicator */
    content: counter(steps);
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .cd-multi-steps.text-top.count li:not(.current) em::before,
  .cd-multi-steps.text-bottom.count li:not(.current) em::before {
    /* steps not visited yet - counter color */
    color: #2c3f4c;
  }

  .cd-multi-steps.text-top.count li::after {
    bottom: 11px;
  }

  .cd-multi-steps.text-top.count li > * {
    padding-bottom: 34px;
  }

  .cd-multi-steps.text-bottom.count li::after {
    top: 11px;
  }

  .cd-multi-steps.text-bottom.count li > * {
    padding-top: 34px;
  }
}


/* FONTE DO GOOGLE */
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Lato-regular/Lato-regular.eot');
  src: url('fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}